<!--<link href="../app/style/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">-->
<!--<link href="../app/style/bootstrap/ui-bootstrap-custom-2.1.3-csp.css" type="text/css" rel="stylesheet">-->
<div class="doc-detail-wrapper item-wrapper" ng-controller="docDetailCtrl as a">
    <!--流程-->
    <div class="doc-detial-left">
        <div class="basic-info-item">
            <div class="info-item-head">摘要</div>
            <div class="info-item-content">
                <ul>
                    <li ng-repeat="item in basicInfo">
                        <div class="field">{{item.name}}</div>
                        <div class="val" ng-class="{true:'name',false:''}[item.name=='发送人']">{{item.val}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="basic-info-item start-process" ng-show="currentProcess==1">
            <div class="info-item-head">开始审批</div>
            <div class="info-item-content">
               <span>请选择：</span>
                <div class="choose-btns">
                    <div class="choose-btn choose-btn-ok" ng-click="doChoose(0)">通过</div>
                    <div class="choose-btn choose-btn-cancle" ng-click="doChoose(1)">退审</div>
                    <div class="choose-btn-or">或</div>
                </div>
            </div>
        </div>
        <div class="basic-info-item check-options" ng-show="currentProcess==2">
            <div class="info-item-head">开始审批</div>
            <div class="info-item-content">
                <div class="prev-result">
                    <i ng-class="{true:'ok',false:'no'}[preveResult=='通过']"></i>
                    <span>您选择了</span>
                    <span ng-class="{true:'green',false:'red'}[preveResult=='通过']">{{preveResult}}</span>
                    <span>此文件，您也可以</span>
                    <span class="recheck" ng-click="recheck(1)">重新选择</span>
                </div>
                <div class="check-items">
                    <div class="check-items-header">输入审批意见</div>
                    <div class="check-item-input">
                        <textarea class="check-option-val" ng-model="originOption"></textarea>
                    </div>
                </div>
                <div class="check-items">
                    <div class="check-items-header">选择审批时间</div>
                    <div class="check-item-input">
                        <!--<input type="text" class="form-control" uib-datepicker-popup-->
                                       <!--is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"-->
                                       <!--close-text="关闭" current-text="今天" clear-text="清除"-->
                                       <!--alt-input-formats="altInputFormats" ng-focus="open1()" on-open-focus="false" ng-model="sTime" />-->
                        <!--<i ng-click="open1()"></i>-->
                        <input ng-model="nowTime" class="normal-input">
                    </div>
                </div>
                <div class="check-items check-items-next">
                    <div class="normal-btn" ng-click="checkNext()">继续</div>
                </div>
            </div>
        </div>

        <div class="basic-info-item check-sign" ng-show="currentProcess==3">
            <div class="info-item-head">放置签名</div>
            <div class="info-item-content">
                <div class="prev-result">
                    <span>您可以将审批意见、时间、电子签名拖动放置到文件的相应位置，或者</span>
                    <span class="recheck" ng-click="recheck(2)">点击返回上一步修改</span>
                </div>
                <ul class="sing-box">
                    <li draggable="true" ondragstart="drag(event)">
                        <img id="drag-name" src="../app/imgs/singname.png"/>
                    </li>
                    <li>
                        <span>{{nowTime}}</span>
                    </li>
                    <li>
                        <textarea>{{originOption}}</textarea>
                    </li>
                </ul>
        </div>

    </div>
    </div>
    <!--内容-->
    <div class="doc-detial-right">
        <div class="doc-box" ondrop="drop(event)" ondragover="allowDrop(event)">
            <!--<img src="../app/imgs/doc.png">-->
        </div>
    </div>

</div>