<link href="style/date-picker-mayi.css" type="text/css" rel="stylesheet">
<div class="doc-detail-wrapper item-wrapper" ng-controller="docDetailCtrl as a">
    <!--流程-->
    <div class="doc-detial-left">
        <div class="basic-info-item">
            <div class="info-item-head">摘要</div>
            <div class="info-item-content">
                <ul>
                    <li ng-repeat="item in basicInfo">
                        <div class="field">{{item.name}}</div>
                        <div class="val" ng-class="{true:'name',false:''}[item.name=='发送人']">{{item.val}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="basic-info-item start-process" ng-show="currentProcess==1">
            <div class="info-item-head">开始审批</div>
            <div class="info-item-content">
               <span>请选择：</span>
                <div class="choose-btns">
                    <div class="choose-btn choose-btn-ok" ng-click="doChoose(0)">通过</div>
                    <div class="choose-btn choose-btn-cancle" ng-click="doChoose(1)">退审</div>
                    <div class="choose-btn-or">或</div>
                </div>
            </div>
        </div>
        <div class="basic-info-item check-options" ng-show="currentProcess==2">
            <div class="info-item-head">开始审批</div>
            <div class="info-item-content">
                <div class="prev-result">
                    <i ng-class="{true:'ok',false:'no'}[preveResult=='通过']"></i>
                    <span>您选择了</span>
                    <span ng-class="{true:'green',false:'red'}[preveResult=='通过']">{{preveResult}}</span>
                    <span>此文件，您也可以</span>
                    <span class="recheck" ng-click="recheck(1)">重新选择</span>
                </div>
                <div class="check-items">
                    <div class="check-items-header">输入审批意见</div>
                    <div class="check-item-input">
                        <textarea class="check-option-val" ng-model="originOption"></textarea>
                    </div>
                </div>
                <div class="check-items">
                    <div class="check-items-header">选择审批时间</div>
                    <div class="check-item-input">
                        <input type="text" ng-model="nowTime" class="normal-input" ng-focus="openMayiDatePicker()">
                        <div class="my-date-picker" ng-show="showDatePicker"
                             configstyle="configstyle"
                             arraydata="arraydata" indexdata="indexdata"
                             arraydata1="arraydata1" indexdata1="indexdata1"
                             selected-date="showSelectedDateFn(datestr)"
                             date-picker></div>
                    </div>
                </div>
                <div class="check-items check-items-next">
                    <div class="normal-btn" ng-click="checkNext()">继续</div>
                </div>
            </div>
        </div>

        <div class="basic-info-item check-sign" ng-show="currentProcess==3">
            <div class="info-item-head">放置签名</div>
            <div class="info-item-content">
                <div class="prev-result">
                    <span>您可以将审批意见、时间、电子签名拖动放置到文件的相应位置，或者</span>
                    <span class="recheck" ng-click="recheck(2)">点击返回上一步修改</span>
                </div>
                <ul class="sing-box">
                    <li>
                        <div class="main-info" id="sing-name" ng-mouseover='move_obj("sing-name")'>
                            <img src="../app/imgs/singname.png"/>
                        </div>
                        <div ng-show="singNameFinish" class="sing-finish">签名放置完成</div>
                        <div ng-show="singNameFinish" class="reset-sing-info" ng-click="resetSingInfo(0,'sing-name')">重新放置</div>
                    </li>
                    <li>
                        <div class="main-info" id="sing-time" ng-mouseover='move_obj("sing-time")'>
                            <span>{{nowTime}}</span>
                        </div>
                        <div ng-show="singTimeFinish" class="sing-finish">时间放置完成</div>
                        <div ng-show="singTimeFinish" class="reset-sing-info" ng-click="resetSingInfo(1,'sing-time')">重新放置</div>
                    </li>
                    <li>
                        <div class="main-info" id="sing-option" ng-mouseover='move_obj("sing-option")'>
                            <textarea>{{originOption}}</textarea>
                        </div>
                        <div ng-show="singOptionsFinish" class="sing-finish">意见放置完成</div>
                        <div ng-show="singOptionsFinish" class="reset-sing-info" ng-click="resetSingInfo(2,'sing-option')">重新放置</div>
                    </li>
                </ul>
                <div class="check-items check-items-next" ng-show="totalCount==3">
                    <div class="normal-btn" ng-click="checkLast()">提交审阅</div>
                </div>
        </div>
    </div>
    </div>
    <!--内容-->
    <div class="doc-detial-right">
        <div class="doc-box">
            <img src="../app/imgs/doc.png">
        </div>
    </div>

    <div class="conform-box" ng-show="conformBoxStatus">
        <div class="conform-main">
            <div class="conform-main-header">
                <span>
                    最后确认
                </span>
                 <span ng-click="hideConformBox(0)">
                   ×
                </span>
            </div>
            <div class="conform-main-content">
                <div class="tips">为了保证文件安全，请输入您的审阅密码</div>
                <div class="input-box">
                    <input type="password" class="normal-input">
                    <div class="normal-btn" ng-click="hideConformBox()">确认通过</div>
                </div>
                <div class="finishCheck" ng-show="finishlastCheck">审核完成</div>
            </div>

        </div>
    </div>
</div>