<div class="login-wrapper item-wrapper" ng-controller="loginCtrl">
    <div class="login-box">
    	<div class="login-title">
    		<div class="company-name">
    			<i></i>
    			<span>超高压输电公司昆明局</span>
			</div>
			<div class="systme-name">
				<span>电子</span>
				<span>阅签</span>
				<span>系统</span>
			</div>
    	</div>
    	<div class="login-form">
            <div class="form-group form-input">
                <input type="text" name="user-name" class="normal-input" ng-model="mobile" placeholder="手机号" ng-focus="focus(0)">
                <div errortip mytips="mytips" mystatus="mystatus"></div>
            </div>
             <div class="form-group form-input">
                <input type="password" name="user-pwd" class="normal-input" ng-model="pwd" placeholder="密码" ng-focus="focus(1)">
                <div errortip mytips="mytips1" mystatus="mystatus1"></div>
            </div>
            <div class="form-group form-btn">
                <input type="button" class="normal-btn" value="登录" ng-click="login()">
            </div>
            <div class="form-group form-forget">
                <span title="忘记密码">忘记密码?</span>
            </div>
    	</div>
    </div>
    <div class="power-bg">
        <img src="http://7xqnxu.com1.z0.glb.clouddn.com/power-bg.png">
    </div>
</div>
<div footer></div>
