<div class="register-wrapper item-wrapper" ng-controller="registerCtrl">
    <div class="register-box">
        <div class="register-header">
            <div class="register-title">
                <i></i>
                <span>请填写注册信息</span>
            </div>
            <div class="back-to-preview">
                <span>返回</span>
            </div>
        </div>
        <div class="register-tips">
            <div class="left">
                <i></i>
                <span>重要提示</span>
            </div>
            <div class="right">
                <p><span>1.</span>请使用真实姓名注册</p>
                <p><span>2.</span>您在本系统中使用的电子签名具有法律效力，等同于手写签名</p>
                <p><span>3.</span>请仔细保管登录密码及审阅密码</p>
            </div>
        </div>
        <div class="register-form">
            <div>
                <div class="form-group form-input">
                    <div class="left-filed"><label>真实姓名</label></div>
                    <div class="right-input">
                    <input type="text" name="user-name" class="normal-input" ng-model="realname" ng-focus="focus(0)"></div>
                    <div errortip mytips="mytips1" mystatus="mystatus1"></div>
                </div>
                <div class="form-group form-input">
                    <div class="left-filed"><label>手机号</label></div>
                    <div class="right-input">
                        <input type="text" name="user-name" class="normal-input" ng-model="mobile" ng-focus="focus(0)"></div>
                    <div errortip mytips="mytips2" mystatus="mystatus2"></div>
                </div>
                <div class="form-group form-input">
                    <div class="left-filed"><label>登录密码</label></div>
                    <div class="right-input">
                        <input type="text" name="user-name" class="normal-input" ng-model="pwd" ng-focus="focus(0)"></div>
                    <div errortip mytips="mytips3" mystatus="mystatus3"></div>
                </div>
                <div class="form-group form-input">
                    <div class="left-filed"><label>审阅密码</label></div>
                    <div class="right-input">
                        <input type="text" name="user-name" class="normal-input" ng-model="rpwd" ng-focus="focus(0)"></div>
                    <div errortip mytips="mytips4" mystatus="mystatus4"></div>
                </div>
                <div class="form-group">
                    <div class="left-filed"><label>身份证照</label></div>
                    <div class="right-input"></div>

                    <div errortip mytips="mytips3" mystatus="mystatus3"></div>
                </div>
                <div class="form-group">
                    <div class="left-filed"><label>电子签名</label></div>
                    <div class="right-input"></div>

                    <div errortip mytips="mytips4" mystatus="mystatus4"></div>
                </div>
                <div class="form-group">
                    <div class="left-filed"><label>电子签名</label></div>
                    <div class="right-input"></div>

                    <div errortip mytips="mytips4" mystatus="mystatus4"></div>
                </div>
                <div class="form-group">
                    <div class="left-filed"><label></label></div>
                    <div class="right-input">
                        <input type="button" class="normal-btn" value="提交" ng-click="login()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div footer></div>