.doc-detail-wrapper{
  position: relative;
  height: 100%;
  margin: 0 120px;
  @w:260px;
  .doc-detial-left{
    position: absolute;
    width: @w;
    top:0;
    left:0;
    bottom: 0;
    border-right: 1px solid #A4A4A4;
    padding: 0 10px;
    .basic-info-item{
      margin-bottom: 35px;
      .info-item-head{
        height: 25px;
        color: #333333;
        font-size: 15px;
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 10px;
        line-height: 25px;
      }
      .info-item-content{
        margin-top: 10px;
        >ul {
          li {
            margin: 15px 0;
            > div {
              display: inline-block;
              vertical-align: top;
              font-size: 12px;
            }
            .field {
              color: @grayColor;
              width: 20%;
              text-align: right;
            }
            .val {
              width: 75%;
              color: #666666;
              padding-left: 8px;
              line-height: 20px;
              &.name {
                color: @blueColor;
              }
            }
          }
        }
        .prev-result {
          margin: 20px 0px;
          font-size: 12px;
          i{
            display: inline-block;
            .size(14px,18px);
            vertical-align: -5px;
            margin-right: 6px;
            .bg-sprite;
            background-position: -273px -68px;
            &.ok{
              background-position: -273px -41px;
            }
          }
          span{
            color:@grayColor;
            line-height: 21px;
            &.green{
              color:#55C46C;
            }
            &.red{
              color:#CC6666;
            }
          }
          .recheck {
            color: #2866B5;
            &:hover{
              text-decoration: underline;
              .c;
            }
          }
        }
      }
      //��ʼ����   //����1
      &.start-process{
        .info-item-content{
          span{
            display: block;
            margin: 40px 0;
            font-size: 12px;
            color: @grayColor;
          }
          .choose-btns{
            height: 40px;
            margin-top: 20px;
            position: relative;
            .choose-btn{
              .size(45%,100%);
              display: inline-block;
              background-color: #CC6666;
              color: #fff;
              text-align: center;
              line-height: 40px;
              opacity: 0.8;
              .c;
              .radius(3px);
              &.choose-btn-ok{
                background-color: #6692CC;
                margin-right: -4px;
              }
              &:hover{
                opacity: 1;
              }
            }
            .choose-btn-or{
              position: absolute;
              @ww:16px;
              .size(@ww,@ww);
              top:50%;
              left: 50%;
              margin-top: -@ww / 2;
              margin-left: -20px;
              background-color:#fff;
              color: #BFBFBF;
              text-align: center;
              font-size: 12px;
              .radius(@ww/2);
            }
          }
        }
      }

      //������   //����2
      &.check-options{
        .check-items{
          margin-top: 30px;
          .check-items-header{
            color:#666;
            font-size: 14px;
            margin: 15px 0;
            &::before{
              content: '';
              margin-right: 10px;
              font-size: 10px;
              display: inline-block;
              vertical-align: 1px;
              .size(6px,6px);
              background-color:#666 ;
              .radius(3px);
            }
          }
          .check-item-input {
            margin: 20px 18px;
            .check-option-val {
              padding: 5px 10px;
              .size(96%,125px);
              color: #494949;
            }
            input{
               display: block;
               width: 235px;
             }
          }

          &.check-items-next {
             text-align: right;
             margin-right: 4px;
             .normal-btn{
               display: inline-block;
               .size(100px,34px);
               line-height: 34px;
               text-align: center;
             }
           }
        }
        //����3/*
      }

      //����ǩ��
      &.check-sign{
        .sing-box{
          border-bottom: 1px solid #ccc;
          padding-bottom: 20px;
          li{
            position: relative;
            margin: 20px auto;
            border: 1px dashed #000;
            .size(200px,80px);
            background-color: #fff;
            text-align: center;
            img{
              max-width: 100%;
            }
            span{
              color: @grayColor;
            }
            .main-info{
              .size(100%,100%);
            }
            &:first-child{
              .main-info{
                .size(200px,81px);
              }
            }
            &:nth-child(2){
              .main-info {
                line-height: 80px;
              }
            }
            &:last-child {
              border: 1px dashed #000;
              textarea {
                //border: 1px dashed #000;
                .size(194px,74px);
                padding: 2px;
                border:none;
              }
            }
            .sing-finish{
              color:#212121;
              line-height: 80px;
            }
            .reset-sing-info{
              position: absolute;
              bottom: 5px;
              right: 10px;
              color: @blueColor;
              font-size: 12px;
              .c;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        .check-items-next {
          margin-top: 20px;
          text-align: right;
          margin-right: 4px;
          .normal-btn{
            display: inline-block;
            .size(100px,34px);
            line-height: 34px;
            text-align: center;
          }
        }
      }

    }
  }
  .doc-detial-right{
    margin-left: @w + 20;
    padding: 0 25px;
    .doc-box{
      width: 80%;
      min-height: 600px;
      margin: 0 auto;
      img{
        max-width: 100%;
      }
    }
  }
}

.conform-box{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  .conform-main{
    .size(530px,340px);
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -170px;
    margin-left:-265px;
    box-shadow: 0 0 2px #212121;
    background-color: #ECF2F7;
    .conform-main-header{
      height: 45px;
      line-height: 45px;
      background-color: #FFFFFF;
      box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.3);
      span{
        display: inline-block;
        width: 48%;
        &:first-child{
          margin-right: -15px;
          font-size: 15px;
          color: @grayColor;
          padding-left: 15px;
        }
        &:last-child{
          font-size: 26px;
          color: @grayColor;
          text-align: right;
          .c;
          &:hover{
            color: #000;
          }
        }
      }
    }
    .conform-main-content{
      width: 80%;
      margin: 70px auto;
      .tips{
        margin: 30px auto;
        height: 35px;
        line-height: 35px;
        width: 70%;
        background-color: #AFBCE0;
        color: #4C60BF;
        text-align: center;
        .radius(3px);
        font-size: 14px;
      }
      .input-box{
        margin: 50px 0;
        text-align: center;
        >*{
          display: inline-block;
        }
        input{
          width: 260px;
          margin-right: -10px;
        }
        .normal-btn{
          width: 90px;
          height: 32px;
          text-align: center;
        }
      }
    }

    .finishCheck{
      text-align: center;
      color: @blueColor;
    }
  }
}