.register-box{
  padding-top: 120px;
  width: 80%;
  margin: 0 auto;
  .register-header{
    border-bottom: 1px solid RGB(219, 219, 219);
    padding-bottom: 5px;
    >div{
      display: inline-block;
      span{
        font-size: 14px;
        color:@grayColor;
      }
      &:first-child{
        width: 49%;
        i{
          display: inline-block;
          .size(19px;16px);
          .bg-sprite;
          background-position: -273px -93px;
          vertical-align: -3px;
        }
        span{
          margin-left: 5px;
        }
      }
      &:last-child{
        width: 50%;
        text-align: right;
        span{
          cursor: pointer;
          &:hover{
            color: #6f6b6b;
          }
        }
      }
    }
  }
  @w:490px;
  .register-tips{
    width: @w;
    margin: 30px auto 0 auto;
    position: relative;
    border-bottom: 1px solid RGB(219, 219, 219);
    .left{
      position: absolute;
      .size(100px,auto);
      i{
        display: inline-block;
        .size(19px;19px);
        .bg-sprite;
        background-position: -220px -15px;
        vertical-align: -4px;
      }
      span{
        margin-left: 5px;
        color: @blueColor;
        font-size: 13px;
      }
    }
    .right{
      margin-left: 100px;
      padding-left: 20px;
      p{
        color: @grayColor;
        line-height: 27px;
        font-size: 13px;
        span{
          margin-right: 6px;
          color: #212121;
        }
      }
    }
  }
  .register-form{
    width: @w;
    margin: 30px auto 0 auto;
    >div{
      width: 390px;
      .form-group{
        position: relative;
        .size(100%,35px);
        margin: 35px 0;
        .left-filed{
          position: absolute;
          .size(52px,100%);
          text-align: right;
          label{
            color: @grayColor;
            font-size: 13px;
            vertical-align: -8px;
          }
        }
        .right-input {
          margin-left: 70px;
          padding-left: 50px;
          input {
            width: 260px;
          }
        }
      }
    }
  }
}