* {
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: 0 0 5px #ccc;
  border-color: #fff;
  background: #fff;
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body {
  margin: 0;
}
body .common-error-tips > div {
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 215px;
  height: 35px;
  line-height: 35px;
  background-color: #191a19;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
}
body .common-error-tips > div::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -14px;
  top: 6px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 22px solid #191a19;
}
.bg-sprite {
  background: url(../imgs/sprite.png) 0 0 no-repeat;
}
.banner-wrapper {
  position: relative;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner-wrapper .logo {
  padding-left: 120px;
  width: 240px;
  height: 100%;
  position: relative;
}
.banner-wrapper .logo .logo-img {
  position: absolute;
  width: 33px;
  height: 25px;
  top: 20px;
  background: url(../imgs/sprite.png) 0 0 no-repeat;
  background-position: -206px -83px;
}
.banner-wrapper .logo .logo-word {
  margin-left: 45px;
}
.banner-wrapper .logo .logo-word div:first-child {
  padding-top: 13px;
  color: #214177;
  font-size: 16px;
}
.banner-wrapper .logo .logo-word div:last-child {
  color: #a09e9e;
  font-size: 12px;
  padding-top: 5px;
}
.banner-wrapper .register {
  color: #214177;
  position: absolute;
  right: 110px;
  top: 24px;
  cursor: pointer;
  font-size: 14px;
}
