* {
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-overflow-scrolling: touch;
}
a,
a:hover,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  word-break: break-all;
}
a:focus {
  outline: none;
  -moz-outline: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #3667a6;
  background: red;
}
.font-icon {
  display: inline-block;
}
.txt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body {
  margin: 0;
}
body .common-error-tips > div {
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 215px;
  height: 32px;
  line-height: 32px;
  background-color: #191a19;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
}
body .common-error-tips > div::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -14px;
  top: 4px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 22px solid #191a19;
}
.bg-sprite {
  background: url(../imgs/sprite.png) 0 0 no-repeat;
}
.banner-wrapper {
  position: relative;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner-wrapper .logo {
  padding-left: 120px;
  width: 240px;
  height: 100%;
  position: relative;
}
.banner-wrapper .logo .logo-img {
  position: absolute;
  width: 33px;
  height: 25px;
  top: 20px;
  background: url(../imgs/sprite.png) 0 0 no-repeat;
  background-position: -206px -83px;
}
.banner-wrapper .logo .logo-word {
  margin-left: 45px;
}
.banner-wrapper .logo .logo-word div:first-child {
  padding-top: 13px;
  color: #3667a6;
  font-size: 16px;
}
.banner-wrapper .logo .logo-word div:last-child {
  color: #a09e9e;
  font-size: 12px;
  padding-top: 5px;
}
.banner-wrapper .register {
  color: #3667a6;
  position: absolute;
  right: 110px;
  top: 24px;
  cursor: pointer;
  font-size: 14px;
}
.login-box {
  width: 320px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -220px;
}
.login-box .login-title {
  text-align: center;
  margin: 20px 0;
}
.login-box .login-title .company-name i {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 30px;
  background: url(../imgs/sprite.png) 0 0 no-repeat;
  background-position: -177px -11px;
}
.login-box .login-title .company-name span {
  margin-left: 8px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #3667a6;
  margin-top: 4px;
  letter-spacing: 3px;
}
.login-box .login-title .systme-name {
  margin: 30px 0 40px 0;
  font-size: 20px;
}
.login-box .login-title .systme-name span {
  color: #555555;
}
.login-box .login-title .systme-name span:nth-of-type(2) {
  color: #3667a6;
}
.login-box .login-form {
  margin-top: 20px;
}
.login-box .login-form .form-group {
  margin: 35px 0;
  position: relative;
}
.login-box .login-form .form-group.form-input input {
  width: 314px;
  height: 28px;
  border: 1px solid #d9d9d9;
  background-color: #f6f6f6;
  text-indent: 8px;
  border-radius: 2px;
  background-clip: padding-box;
}
.login-box .login-form .form-group.form-input input:focus {
  border-color: #3667a6;
}
.login-box .login-form .form-group.form-btn input {
  width: 320px;
  background-color: #3667a6;
  border: none;
  color: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  height: 38px;
}
.login-box .login-form .form-group.form-btn input:hover {
  background-color: #19539e;
}
.login-box .login-form .form-group.form-forget {
  width: 320px;
  text-align: right;
  font-size: 12px;
  color: #777777;
}
.login-box .login-form .form-group.form-forget span {
  opacity: 0.8;
  cursor: pointer;
}
.login-box .login-form .form-group.form-forget span:hover {
  opacity: 1;
}
.login-box .login-form .form-group .common-error-tips {
  position: absolute;
  left: 330px;
  top: 0;
}
